.nav1{
    background-color: #f4b2b2;
    height: 70px;
    width: 100%;
    
  }
.modal-bg{
    background: linear-gradient(90deg, #fefefe 70%, #95d5a5 30%) !important;
  }
.imgsize{
    height: 500px;
    width: 100%;
}
.form{
  width: 100px;
  background-color: linear-gradient(90deg,red 70%,white 30%);
}
.body4{
  position: absolute;
  left: 200px;
  top : 200px;
}