{% extends "customer/master.html" %}
{% load static %}
{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <form method = 'POST'>
            {% csrf_token %}
        <img src="{{details.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{details.product_name}}</h5>
          <p class="card-text">{{details.product_description}}</p>
          <p class="card-text">{{details.price}}</p>
          <p class="card-text">{{details.seller.first_name}} {{details.seller.last_name}} </p>
          <button type="submit">Add to Cart</button>
          {{ message }}
        </form>
        </div>
      </div>
    </div>
    {% endblock %}