{% load static %}
<!--NAV BAR START-->
<nav class="navbar navbar-expand-lg nav1 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-success fs-10 " style="font-family: Georgia, 'Times New Roman', Times, serif;" href="#"><i class="fa-sharp fa-solid fa-couch"></i>E-FURNITURE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto" role="search">
            <input class="form-control me-0" type="search" style="border-radius: 20px; width: 400px; height: 50px;" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="bi bi-search"></i></button>
          </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'common:home' %}"><i class="bi bi-house-fill"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:clogin' %}">
            <i class="bi bi-person-square text-danger"></i>Customer Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:csign' %}">
          <i class="bi bi-person-square text-danger"></i>Customer Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:slogin' %}">
         <i class="bi bi-person-plus-fill text-success"></i>Seller Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:ssign' %}">
          <i class="bi bi-person-square text-danger"></i>Seller Register</a>
          </li>
        </ul>
       </div>
    </div>
  </nav>
  <!--NAV BAR END-->

{% block content %}
{% endblock %}


  <!--FOOTER START-->
  <div class="card text-center bg-dark">
    <div class="card-footer text-muted">
      2022 ECOM Inc,  All Rights Reserved. 
    </div>
  </div>
  <!--FOOTER END-->