.footer{
    margin-top: 635px;
}
.navbar{
    background-color:#f4b2b2;
}
body{
    background-image: url('../images/change2.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
